fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
redis[asyncio]
python-dotenv
python-multipart
websockets
watchfiles
greenlet